.custom-card {
    max-width: fit-content !important;
    min-width: 25vW !important;
    max-height: fit-content !important;
    min-height: fit-content !important;
}

.google-icon {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}