.bk-font-weight-light {
  font-weight: 300 !important;
}

.bk-font-weight-regular {
  font-weight: 400 !important;
}

.bk-font-weight-medium {
  font-weight: 500 !important;
}

.bk-font-weight-bold {
  font-weight: 700 !important;
}
